.hader-image {
    max-width: 100%;
    height: 510px;
    background: url("images/header-bg.jpg");
    background-size: 100% 100%;
}
body {
    padding: 0;
    margin: 0;
}
.h1-1 {
    margin: 0;
    font-size: 450%;
    position: relative;
    top: 125px;
    text-align: center;
    color: white;
    font-weight: 100;
}
.p1 {
    font-weight: 100;
    position: relative;
    top: 150px;
    text-align: center;
    font-size: 20px;
    font-style:  italic;
    color: white;
}
.contaner {
    margin: auto;
    margin-top: 190px;
    padding: 20px 20px;
    width: 855px;
    height: 50px;
    background-color: black;
    border-radius: 5px;
    background: rgba(0,0,0,0.65);
}
.login {
    margin-top: 0px;
    margin-left: 0px;
    width: 285px;
    height: 35px;
    background-color: white;
    opacity: 1;
    font-size: 16px;
    padding: 5px 16px;
}
.password {
    margin-top: 0px;
    margin-left: 5px;
    width: 285px;
    height: 35px;
    background-color: white;
    opacity: 1;
    font-size: 16px;
    padding: 5px 16px;
}
.button {
    margin-left: 10px;
    position: absolute;
    height: 100px;
    font-weight: 700;
    font-size: 20px;
    padding: 5px 25px;
    width: 193px;
    height: 45px;
    background-color: rgb(173, 46, 46);
    border: 0px;
    color: white;
    margin-top: 2px;
    border-radius: 5px;
}
.p2 {
    position: relative;
    top: 15px;
    text-align: center;
    font-size: 13px;
    color: white;
}
.h1-2 {
    font-size: 55px;
    font-weight: 100;
    color: rgb(68, 68, 68);
    position: relative;
    text-align: center;
    top: -10px;
}
.p3 {
    width: 97%;
    font-size: 22px;
    text-align: justify;
    padding: 10px;
}
.image2 {
    margin: 0 10px 10px ;
    margin-left: 130px;
    float: left;
    width: 135px;
    height: 350px;
    background: url("images/phone.jpg");
    background-repeat: no-repeat;
}
.contaner1 {
    margin-top: 100px;
    margin-bottom: 40px
}
.button:hover {
    background-color: rgb(221, 23, 40);
}
@media (max-width: 1132px) {
    .hader-image {
        height: 590px;
    }
}
@media (max-width: 915px) {
    .contaner {
        width: 320px;
        height: auto; 
        margin: auto;
        margin-top: 250px;
    }
    .hader-image {
        height: 760px;
    }
    .password {
        position: relative;
        margin-top: 10px;
        left: -5px; 
    } 
    .button {
        position: relative;
        top: 10px;
        width: 322px;
        left: -10px;
        margin-bottom: 10px;
    }
    .contaner1 {
        margin-top: 100px;
        margin-bottom: 40px;
    }
}
@media (max-width: 685px) {
    .hader-image {
        height: 780px;
    }
    .p3 {
        width: 94%;
    }
}
@media (max-width: 618px) {
    .hader-image {
        height: 870px;
    }
}
@media (max-width: 393px) {
    .hader-image {
        height: 910px;
    }
}
@media (max-width: 390px) {
    .hader-image {
        height: 980px;
    }
}
@media (max-width: 380px) {
    .contaner {
        width: 230px;
    }
    .data {
        width: 190px;
    }
    .button {
        width: 225px;
    }
    .p3 {
        width: 90%;
    }
}
@media (max-width: 364px) {
    .hader-image {
        height: 1050px;
    }
}
@media (max-width: 316px) {
    .hader-image {
        height: 1150px;
    }
}
@media (max-width: 800px) {
    .image2 {
        margin-left: 85px;
    }
@media (max-width: 700px) {
    .image2 {
        margin-left: 65px
    }
}
@media (max-width: 600px) {
    .image2 {
        margin-left: 45px
    }
}
@media (max-width: 500px) {
    .image2 {
        margin-left: 25px
    }
}
@media (max-width: 400px) {
    .image2 {
        margin-left: 5px
    }
}
}

